# Gradle
.gradle/
build/
**/build/

# Local configuration (SDK paths)
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
.DS_Store

# Captures
captures/
.externalNativeBuild/
.cxx/

# Keystore files
*.jks
*.keystore

# OS
Thumbs.db
